html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
}

x-gif {
    position:absolute;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    mix-blend-mode: hard-light;
    transform: rotate3d(0, 0, 0, 180deg);
}

/*dat.gui transparency*/
.dg .cr {
    opacity: 0.50;
}

.dg .cr:hover {
    opacity: 0.666;
}

.dg.main.a {
    margin-right: 0px;
}

option {
    background-color: #C2C2C2;
    opacity: 0.75;
}

.close-button {
    opacity: 0.2;
}

li.title {
    opacity: 0.5;
}

.close-button:hover {
    opacity: 0.69 !important;
}

.dg.main .close-button {
    opacity: 0.69 important;
}

/*giphy logo stuff*/
#drone-mode-logo {
    background-image: url("assets/giphypower.png");
    background-repeat: no-repeat;
    background-position: right 5px bottom 0px;
}
